# Database Credentials
POSTGRES_USER=ahmed_hossam
POSTGRES_PASSWORD=put_here_pass
POSTGRES_DB=your_assets

# Database connection string
DATABASE_URL=postgresql://ahmed_hossam:put_here_pass@localhost:5432/your_assets

# Add your LLM API key here (e.g., OpenAI, Gemini)
GEMINI_API_KEY="********************"
